<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->


	<servlet>
		<servlet-name>adminServlet</servlet-name>
		<servlet-class>com.caines.cultural.server.AdminServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>adminServlet</servlet-name>
		<url-pattern>/culturalfit/admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>basicServlet</servlet-name>
		<servlet-class>com.caines.cultural.server.BasicScramblerImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>basicServlet</servlet-name>
		<url-pattern>/culturalfit/basic</url-pattern>
	</servlet-mapping>	

	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	    <servlet>
        <servlet-name>LoginRequiredServlet</servlet-name>
        <servlet-class>com.caines.cultural.server.LoginPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginRequiredServlet</servlet-name>
        <url-pattern>/loginRequired</url-pattern>
    </servlet-mapping>
	
		
    <servlet>
        <servlet-name>LoginSendServlet</servlet-name>
        <servlet-class>com.caines.cultural.server.LoginSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSendServlet</servlet-name>
        <url-pattern>/loginSubmit</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>viewerServlet</servlet-name>
        <servlet-class>com.caines.cultural.server.ViewerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewerServlet</servlet-name>
        <url-pattern>/viewer/*</url-pattern>
    </servlet-mapping>
    
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>c/culturalfit.html</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>all</web-resource-name>
			<url-pattern>/loginRequired/google</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>
